---
# Deploy da Aplicação Web
apiVersion: apps/v1
kind: Deployment
metadata:
  name: reviewfilmes
spec: 
  replicas: 1
  selector:
    matchLabels: 
      app: reviewfilmes
  template:
    metadata:
      labels:
        app: reviewfilmes
    spec:
      containers:
        - name: reviewfilmes
          image: fabriciosveronez/pipeline-elite:v1
          env:
          - name: ASPNETCORE_HTTP_PORTS
            value: "8080"
          - name: ConnectionStrings__DefaultConnection
            value: "Host=localhost;Port=5432;Database=pipeline_elite;Username=pipeline_elite;Password=pipeline_elite_password;SSL Mode=Require;Trust Server Certificate=true;"
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: reviewfilmes
spec: 
  selector:
    app: reviewfilmes
  ports:
    - port: 80
      targetPort: 8080
  type: LoadBalancer

